*.egg
*.egg-info/
*.orig
*.pyc
*.pyo
*.swp
*.un~
*~
.idea
.installed.cfg
.mr.developer.cfg
.netrwhist
.project
.pydevproject
/start_*.bat
/start_[^.]+
Session.vim
Thumbs.db
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
bin/
build/
c
cc
client_log.txt
client_log.txt.gz
components
current_version
d
develop-eggs/
dist/
eggs/
parts/
pip-delete-this-directory.txt
pip-log.txt
s
sdist/
tags
update_info.json
user_settings.json
var/
