[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
requests = "*"
raven = "*"
meinheld = "*"
gunicorn = "*"
django = "*"
graphene = "*"
django-annoying = "*"
pillow = "*"
graphene-django = "*"
django-redis-cache = "*"
django-redis-sessions = "*"
cryptography = "*"
itsdangerous = "*"
msgpack = "*"
pymysql = "*"
psycopg2-binary = "*"

[dev-packages]
ipython = "*"
nose = "*"
neovim = "*"

[requires]
python_version = "3.6"
