[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pillow = "*"
colorlog = "*"
gevent = "*"
msgpack-python = "*"
"pygit2" = "==0.26.0"
redis = "*"
requests = "*"
unidecode = "*"
raven = "*"


[dev-packages]

ipython = "*"
nose = "*"


[requires]

python_version = "2.7"
